<footer class="site-footer h-card">
    {% if site.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
    <hr />
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
           <div class="footer-col footer-col-1">
               <ul class="contact-list">
                   {%- if site.title -%}
                    <li class="p-name">{{ site.title | escape }}</li>
                   {%- endif -%}
                   {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                   {%- endif -%}
                    </ul>
                </div>
            <div class="footer-col footer-col-2">
            {%- include social.html -%}
            </div>
    </div>
</footer>
